@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="first_div">
    <h1 class="welctext">My Favorite Song!</h1>
</div>
<div class="second-div">
    <h1>Welcome to my page!</h1>
</div>

<div class="text-center " >
    <iframe class="myvideo" id="myanimation" width="942" height="530" src="https://www.youtube.com/embed/k-ImCpNqbJw" title="Diddy - Dirty Money - Coming Home ft. Skylar Grey" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<div class="my-btn-div>">
    <button type="button" class="btn btn-secondary" id="mybutton">Click</button>
</div>
